* {
    margin: 0;
    box-sizing: border-box;    
    background-color: #333;
    color: #999;
}



form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
}